{% extends 'django_cradmin/viewhelpers/listbuilder/base/itemvalue.django.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load cradmin_tags %}
{% load cradmin_tags %}

{% block content %}
    <blockquote>
        <div class="lolchan-channel-post panel panel-default">
            <div class="lolchan-channel-post-title panel-heading"><strong>{{ me.post.title }}</strong> - {{ me.post.publish_date|date:'d/m/Y H:i' }}</div>

            <div class="lolchan-channel-post-description panel-body">
                {{ me.post.text }}
                <div class="row">
                    <div class="col-md-6 lolchan-channel-post-votes">
                        {{ me.post.votes }}
                        <button class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                        <button class="btn btn-danger"><span class="glyphicon glyphicon-thumbs-down"></span></button>
                    </div>
                </div>
            </div>

            {% if comment_list %}
                <div class="col-lg-12 lolchab-channel-post-comments panel panel-default">
                    <div class="panel-heading">Comments</div>
                    <div class="panel-body">
                        {% cradmin_render_renderable comment_list %}
                    </div>
                </div>
            {% else %}
            {% endif %}

        </div>
    </blockquote>
{% endblock %}